@font-face {
    font-family: "Gotham Bold";
    src: url("../fonts/GothamBold.otf");
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slogan {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color: #cd9529;
    padding: 15px 30px;
}

h1, h2, h3, span {
    font-family: "Gotham Bold";
    color: #ffffff;
}

h1{
    font-size: 30px;
    margin-right: 15px;
}

h2 {
    font-size: 30px;
    margin-right: 40px;
}

h3 {
    font-size: 30px;
    margin-left: auto;
    margin-right: 375px;
}

.topnav {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: #574e3f;
    padding: 25px 40px;
    border-bottom: 5px solid #c88a12;
}

.topnav a {
    font-family: "Gotham Bold";
    font-size: 24px;
    margin: 0 15px;
    padding: 0 0 2px 0;
    text-decoration: none;
    color: #ffffff;
}

 .topnav a:first-child {
     margin-right: auto;
 }

 .topnav a:hover {
     color: #c88a12;
 }

